<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <ul class="first_ul">
        <li><a href="/">На главную</a></li>
        <li><a href="/reg">Регистрация</a></li>
        <li><a href="/aut">Авторизация</a></li>
    </ul>
    <h1>Вы успешно авторизованны</h1>
    <h2>
        <b>Ваше имя: </b><%= data.username %><br>
        <b>Ваша фамилия: </b><%= data.usersurname %><br>
    </h2>
</body>
</html>