<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <ul class="first_ul">
        <li><a href="/">На главную</a></li>
        <li><a href="/reg">Регистрация</a></li>
        <li><a href="/aut">Авторизация</a></li>
    </ul>
    <h1>Главная страница</h1>
    <h2>Привет!</h2>
</body>
</html>